.info--hidden {
	height: 0 !important;
}

.input--error {
	border: 1px solid var(--Red) !important;
}

.shake {
	animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
		background: var(--Red);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

.cardForm {
	display: flex;
	flex-direction: column;
	max-width: 24rem;
	margin-left: 10%;
	padding: 1rem;
}

.cardForm label {
	margin-bottom: 16px;
	gap: 14px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	color: var(--Verdarviolet);
	font-size: 15px;
}

.cardForm input:hover {
	border: 1px solid hsl(249, 99%, 64%);
}

.labelmm {
	width: 50%;
}

.labelcvc {
	width: 50%;
}

.labelmm div {
	display: flex;
	gap: 10px;
}

.labelmm input {
	width: 100%;
}

.cvc-mmyy {
	display: flex;
	margin-bottom: 26px;
	position: relative;
	gap: 10px;
}

.cvc-mmyy .info {
	position: absolute;
	bottom: -40px;
	transform: translateY(-25px);
}

.cvc-mmyy .info:last-child {
	right: 1rem;
}

.info {
	transition: height 0.3s ease-in-out;
	font-size: 13px;
	margin-top: 4px;
	margin-bottom: 15px;
	overflow: hidden;
	height: 20px;
	color: var(--Red);
	transform: translateY(-10px);
	margin: 0;
}

@media screen and (max-width: 585px) {
	.App::before {
		height: 20rem !important;
	}
	.cardForm {
		margin-top: 19rem !important;
	}
}

@media screen and (max-width: 750px) {
	.cardForm {
		padding: 2rem;
		margin-left: auto;
		margin-top: 20rem;
		max-width: 100%;
	}

	.App::before {
		content: '';
		height: 22rem;
	}
}

@media screen and (min-width: 1350px) {
	.cardForm {
		margin-left: 3.5rem;
		padding: 0;
	}
}
