.cardThanks {
	text-align: center;
	color: var(--Verdarviolet);
	max-width: 30rem;
	margin-right: auto;
}

.cardThanks p:first-of-type {
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.cardThanks p:last-of-type {
	opacity: 0.8;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.cardThanks .btn-primary {
	width: 60%;
}

@media screen and (max-width: 750px) {
	.cardThanks {
		margin: auto;
		margin-top: 19rem;
	}
}
