.info--hidden {
	height: 0 !important;
}

.cardForm {
	display: flex;
	flex-direction: column;
	max-width: 24rem;
	margin: auto;
}

.cardForm label {
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}

.info {
	transition: height 0.3s ease-in-out;
	font-size: 14px;
	margin-top: 4px;
	margin-bottom: 15px;
	overflow: hidden;
	height: 20px;
}

.input--error {
	border: 1px solid red;
}