.cardFront,
.cardBack {
	max-width: 20rem;
	height: 10rem;
	border-radius: 10px;
	background-size: cover;
	color: var(--White);
	position: relative;
	padding: 20px;
}

/* Card Front ========*/
.cardFront {
	background: url("assets/bg-card-front.png") no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.cardFront div {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.cardFront div span {
	font-size: 13px;
}

.cardFront div span:first-child {
	text-transform: uppercase;
}


/* Card Back =======*/
.cardBack {
	background: url("assets/bg-card-back.png") no-repeat;
}

.cardBack span {
	position: absolute;
	right: 62px;
	top: 68px;
}

.cardFront::after {
	content: url("assets/card-logo.svg");
	position: absolute;
	top: 10px;
	left: 10px;
}

/* ===== */
.cardDeco {
	width: 55%;
}

.cardForm,
.cardThanks {
	width: 45%;
}

.btn-primary {
	background: var(--Verdarviolet);
	border: none;
	padding: 10px 20px;
	color: var(--White);
	cursor: pointer;
	border-radius: 5px;
}

.card-input {
	padding: 10px;
	border: 1px solid var(--Dargrayisviolet);
	border-radius: 3px;
}

@media screen and (max-width: 600px) {
	.cardDeco {
		width: 100%;
	}

	.cardForm,
	.cardThanks {
		width: 100%;
	}
}