.bg {
	position: absolute;
	top: 0;
	left: 0;
	opacity: .5;
	display: none;
}

.cardFront,
.cardBack {
	max-width: 28rem;
	height: 15.5rem;
	border-radius: 10px;
	background-size: cover;
	color: var(--White);
	position: relative;
	padding: 32px;
}

/* Card Front ========*/
.cardFront {
	background-image: url("assets/bg-card-front.png");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 0 auto 32px auto;
}

.cardFront div {
	display: flex;
	justify-content: space-between;
	width: 100%;
	word-spacing: 6px;
}

.cardFront>span {
	font-size: clamp(22px, 2.5vw, 27px);
	letter-spacing: 4px;
	margin-bottom: 25px;
}

.cardFront div span {
	font-size: 16px;
}

.cardFront div span:first-child {
	text-transform: uppercase;
}


/* Card Back =======*/
.cardBack {
	background-image: url("assets/bg-card-back.png");
	background-size: contain;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0 2rem 0 auto;
}

.cardBack span {
	position: absolute;
	right: 60px;
	top: 109px;
	font-size: 24px;
}

.cardFront::after {
	content: url("assets/card-logo.svg");
	position: absolute;
	top: 27px;
	left: 27px;
}

/* ===== */
.cardDeco {
	width: 54%;
	padding: 2rem;
}

.cardOverflow {
	width: 46%;
	overflow: hidden;
}

.cardForm,
.cardThanks {
	transition: transform 0.5s ease-in-out;
}

.btn-primary {
	background: var(--Verdarviolet);
	border: none;
	padding: 15px 20px;
	color: var(--White);
	cursor: pointer;
	border-radius: 6px;
	font-size: 18px;
}

.btn-primary:hover {
	opacity: .9;
}

.card-input {
	padding: 13px;
	border: 1px solid var(--Dargrayisviolet);
	border-radius: 7px;
}

.card-input::placeholder {
	opacity: .7;
}

@media screen and (max-width: 450px) {

	.cardFront,
	.cardBack {
		transform: scale(.7);
	}
}

@media screen and (max-width: 585px) {

	.cardFront,
	.cardBack {
		transform: scale(.8);
	}

	.cardFront {
		top: 8rem !important;
		left: 0 !important;
	}

	.cardBack {
		right: 0 !important;
	}
}

@media screen and (max-width: 750px) {
	.cardDeco {
		width: 100%;
	}

	.cardFront,
	.cardBack {
		margin: 1rem auto;
	}

	.cardFront {
		margin: 1rem 2rem 1rem auto;
		position: absolute;
		width: inherit;
		z-index: 10;
		top: 10rem;
	}

	.cardFront {
		left: 3rem;
	}

	.cardBack {
		position: absolute;
		top: 2rem;
		right: 3rem;
		width: inherit;
	}

	.cardForm,
	.cardThanks {
		width: 100%;
	}
}

@media screen and (max-width: 1010px) {
	.cardBack {
		margin: 0 auto;
	}
}